.centerAll{
    text-align:center;
}
.imgMain{

	  display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      max-width: 70%;
}
div.gallery {
    margin: 5px;*/
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}
.imgProfield{
    max-width: 25%;
     float: left;
     margin-right: 1em;
}
