.centerAll{
    text-align:center;
}
.imgMain{

	  display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      max-width: 70%;
}
div.gallery {
    margin: 5px;*/
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}
div.gallery2 {
    margin: 5px;*/
    border: 1px solid #ccc;
    float: left;
    width: 150px;
}
div.gallery2 img {
    width: 100%;
    height: auto;
}
div.gallery img {
    width: 100%;
    height: auto;
}

.imgProfield{
    max-width: 17%;
     float: left;
     margin-right: 1em;
}
